.full-page {
    background-image: url("pictures/sub.jpg");
    max-width: 2400px;
    background-position: center;
    margin: auto;
    height: 100vh;
}

#newsletter-card {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 40vh;
    background-color: rgba(255,255,255,0.6);
    border-radius: 8px;
}

.margin_vh_top {
    margin-top: 3vh;
}

.margin_vh_bottom {
    margin-bottom: 3vh;
}

.btn {
    width: 20px
}


